<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Last Recorded Rainfall in Toowoomba</title>
<link rel='stylesheet' href='{% load staticfiles %}{% static 'rain/style.css' %}' type='text/css' media='all' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<table id="wrapper">
	<tr>
		<td>
			<a id="prev" v-if="selected < last_rain.length - 1" @click="selected++;">&#11207;</a>
		</td>
		<td>
			<h1>Last Recorded Rainfall in Toowoomba</h1>
			<div id="record">
				<h2>[[ last_rain[selected].local_date_time_full ]]</h2>
				<span id="rainfall">[[ last_rain[selected].rain_trace ]]mm</span>
			</div>
			<p>*Data collected ({{ recordcount }} records) from the Bureau of Meteorology from {{ firstdatapoint }}. Rain since 09:00AM.</p>
		</td>
		<td>
			<a id="next" v-if="selected > 0" @click="selected--;">&#11208;</a>
		</td>
	</tr>
</table>
<script>
var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#wrapper',
  data: {
	last_rain: {{ rainfall|safe }},
	selected: 0
  },
  methods:{
	setheight(){
	  	var h = document.getElementById("wrapper").clientHeight;
		var prev = document.getElementById("prev");
		var next = document.getElementById("next");
		if(prev != null)
                	prev.style.lineHeight = h+"px";
          	if(next != null)
                	next.style.lineHeight = h+"px";
	}
  },
  updated:function(){
	this.setheight();
  },
  mounted(){
	this.setheight();
  }
});
</script>
</body>
</html>
