body{background:url('community.jpg');background-size:cover;color:#fff;}
#rain{font-size:125px}
@media only screen and (max-device-width: 500px){
#rain{font-size:65px}
}
html,body{height:100%}
body{max-width:700px;margin:0 auto;min-height:100%;font-family:monospace;text-shadow:0 1px 15px #000}
a:not([href]){cursor:pointer;}
#wrapper{width:100%;background:rgba(0,0,0,0.75);border:none;margin:0;border-collapse:collapse;position:fixed;bottom:0;left:0;right:0}
h1{color:#fff;font-size:32px;margin:15px 0;width:100%;text-align:center;}
h2{color:gold;font-size:35px;margin:15px 0}
#rainfall{font-family:cambria;color:royalblue;font-size:90px;}
#record{float:left;text-align:center;width:100%}
#next, #prev{width:100%;font-family:'Zapf Dingbats';height:100%;font-size:30px;float:left;color:#fff;display:block;text-align:center;}
#next:hover,#prev:hover{background:rgba(255,255,255,0.25);}
td:nth-of-type(odd){width:20%;}
td:nth-of-type(even){width:60%}
td{border:0;padding:0}
p{width:100%;float:left;text-align:center;}
@media screen and (max-width: 500px){
        #record{text-align:center;}
}
